body{
    background-color: gray;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.formulario-container{
    text-align:center;
}
form{
    margin-bottom:20px ;
}

label{
    display: block;
    margin-bottom: 5px;
}

input{
    width: 200px;
    padding:5px ;
    margin-bottom:10px ;
}

button{
    background-color: #3498db;
    color: white;
    padding: 10px  20px;
    font-size: 16px;
    border: none;
    border-radius:5px ;
    cursor: pointer;
}

select{
    width: 214px;
    height: 29px;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    border-width: 1px;
    border-color: #575757;
    border-radius: 3px;
    background-color: #fff;
}

select:focus{
    outline: none;
    border-color: #3498db;
    box-shadow: 0 0 5px  rgba(52, 152, 219,0.7);

}